name: Build site

on:
permissions:
  contents: write

  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install markdown pyyaml

      - name: Build blog
        run: |
          python tools/build.py

            - name: Commit generated files
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add blog.html posts/*.html
          git diff --cached --quiet || git commit -m "Auto-build blog"
          
          git push

